:host {
    position: relative;
}

.money {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 140px;
    
    .count {
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding-top: 4px;
    }

    .box {
        flex: 1;
        border: 1px solid black;
        background-color: lightblue;

        &.lightblue {
            background-color: lightblue;
        }

        &.darkblue {
            background-color: rgb(109, 109, 225);
        }

        &.red {
            background-color: rgb(231, 112, 112);
        }

        &.orange {
            background-color: rgb(222, 190, 132);
        }

        &.purple {
            background-color: rgb(203, 105, 203);
        }

        &.green {
            background-color: rgb(129, 203, 129);
        }

        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 4px;
        border: 2px solid black;
        border-radius: 8px;

        .left,
        .right {
            flex: 0 0 15px;
            background-color: white;
            border-radius: 50%;
            margin: 0px;
        }

        .center {
            flex: 3;
            font-size: 12px;
            font-weight: bold;
            color: black;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            justify-items: center;
            align-content: center;
        }
    }
}