:host {
    border-radius: 6px;
    padding: 6px;
    display: flex;
    width: 200px;
    height: 100px;

    &.front {
        flex: 1;
    }

    &.back {
        flex: 1;
        display: flex;
        flex-direction: row;
        background-color: white;
        color: black;

        &.destiny {
            background-color: white;
        }

        &.bond {
            background-color: white;
        }

        .card-body {
            flex: 1;
            border: 1px solid lightgray;
            border-radius: 6px;
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 16px 8px 16px 8px;
            justify-content: center;
            align-items: center;
        }
    }

    &.front {
        flex: 1;

        &.destiny {
            background-color: orange;
            .title {
                color: black;
            }
        }

        &.bond {
            background-color: blue;
            .title {
                color: yellow;
            }
        }

        .card-body {
            border: 1px solid white;
            border-radius: 6px;
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 16px 8px 16px 8px;

            .logo {
                flex: 0 0 auto;
                padding: 4px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }

            .right {
                flex: 1;
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 16px;
                    font-weight: bold;
                    padding: 4px 14px 4px 4px;
                    text-align: right;
                    text-transform: uppercase;
                }
        
                .game-name {
                    font-size: 12px;
                    color: white;
                    padding: 4px 14px 4px 4px;
                    text-align: right;
                }
            }
        }
    }

    
}