<div [ngClass]="['tile-body', 'rotate-'+rotate, (corner ? 'corner' : '')]">
    <div class="tile-top"
         [ngStyle]="{'background-color': data.color}"
         [ngClass]="{'hide_inline': !data.color}">
    </div>
    
    <div class="tile-title">
        {{ data.title }}
    </div>
    
    <div class="tile-icon" [ngClass]="{'hide_inline': !data.icon}">
        <img [src]="'/assets/icons/' + data.icon">
    </div>

    <div class="tile-price" [ngClass]="{'hide_inline': !data.price}">
        {{ data.price }} TL
    </div>
</div>
