<div class="table">

    <div class="tiles-left">
        <app-tile *ngFor="let tile of data.tiles.left"
                  [data]="tile">
        </app-tile>
    </div>

    <div class="tiles-top">
        <app-tile *ngFor="let tile of data.tiles.top"
                  [data]="tile">
        </app-tile>
    </div>

    <div class="tiles-right">
        <app-tile *ngFor="let tile of data.tiles.right"
                 [data]="tile">
        </app-tile>
    </div>

    <div class="tiles-bottom">
        <app-tile *ngFor="let tile of data.tiles.bottom"
                 [data]="tile">
        </app-tile>
    </div>

    <div class="board-center">
        <div class="game-title">
            METROPOL
        </div>
        <div class="dices">
            <app-dice
                  *ngFor="let dice of data.dices"
                  [value]="dice.value"
                  [state]="diceState"
                  (clicked)="diceClicked()">
            </app-dice>
        </div>
        
        <div class="message1">
            {{ message1 }}
        </div>

        <div class="message2">
            {{ message2 }}
        </div>
    </div>

    <div class="destiny-cards">
        <app-card [data]="destinyCard" #destinyCardComp
                  (click)="cardClicked(destinyCardComp)">
        </app-card>
    </div>

    <div class="bond-cards">
        <app-card [data]="bondCard" #bondCardComp
                  (click)="cardClicked(bondCardComp)">
        </app-card>
    </div>

    <div class="player-list">
        <div [ngClass]="{ 'player': true, 'playing': player.playing }"
             *ngFor="let player of data.players">
             <span class="player-initials">{{ player.initials }}</span>
             <span class="player-name">{{ player.name }}</span>
        </div>
    </div>
</div>