<div class="table">

    <div class="tiles-left">
        <app-tile *ngFor="let tile of data.tiles.left"
                  [data]="tile"
                  [current]="lastTile==tile">
        </app-tile>
    </div>

    <div class="tiles-top">
        <app-tile *ngFor="let tile of data.tiles.top"
                  [data]="tile"
                  [current]="lastTile==tile">
        </app-tile>
    </div>

    <div class="tiles-right">
        <app-tile *ngFor="let tile of data.tiles.right"
                  [data]="tile"
                  [current]="lastTile==tile">
        </app-tile>
    </div>

    <div class="tiles-bottom">
        <app-tile *ngFor="let tile of data.tiles.bottom"
                  [data]="tile"
                  [current]="lastTile==tile">
        </app-tile>
    </div>

    <div class="board-center">
        <div class="game-title">
            METROPOL
        </div>
    
        <div class="dices" *ngIf="!dialogData">
            <app-dice
                  *ngFor="let dice of data.dices"
                  [value]="dice.value"
                  [state]="diceState"
                  (clicked)="diceClicked()">
            </app-dice>
        </div>

        <div class="message1" *ngIf="!dialogData && (message1 ?? '')!=''">
            {{ message1 }}
        </div>

        <div class="message2" *ngIf="!dialogData && (message2 ?? '')!=''">
            {{ message2 }}
        </div>

        <app-dialog-box *ngIf="dialogData"
                    [data]="dialogData">
        </app-dialog-box>
    </div>

    <div class="destiny-cards">
        <app-card [data]="destinyCard" #destinyCardComp
                  (click)="cardClicked(destinyCardComp)">
        </app-card>
    </div>

    <div class="bond-cards">
        <app-card [data]="bondCard" #bondCardComp
                  (click)="cardClicked(bondCardComp)">
        </app-card>
    </div>

    <app-tile *ngIf="lastTile"
              class="last-tile"
              [data]="lastTile"
              [hidePlayers]="true">
    </app-tile>

    <app-player-list [players]="data.players">
    </app-player-list>

</div>