/* You can add global styles to this file, and also import other style files */

body, html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.hide_inline {
    visibility: hidden;
}